notebooks/test.ipynb
notebooks/.ipynb_checkpoints/ESE156_01_Linefit-checkpoint.ipynb
notebooks/.ipynb_checkpoints/ESE156_02_SpectralDOASFits-checkpoint.ipynb
notebooks/.ipynb_checkpoints/ESE156_03_SpectralLineShape-checkpoint.ipynb
notebooks/.ipynb_checkpoints/ESE156_04_LayeredAtmosphere-checkpoint.ipynb
notebooks/.ipynb_checkpoints/ESE156_005_profiles-checkpoint.ipynb
notebooks/.ipynb_checkpoints/test-checkpoint.ipynb
notebooks/files.zip
notebooks/files/BrO_Cross_298K_Static_FTS_4cm.dat
notebooks/files/glyoxal_cross_section.dat
notebooks/files/hitran_molec_id_1_H2O.par
notebooks/files/hitran_molec_id_2_CO2.par
notebooks/files/hitran_molec_id_6_CH4.par
notebooks/files/MERRA300.prod.assim.inst6_3d_ana_Nv.20150613.hdf.nc4
notebooks/files/No2_260h.dat
notebooks/files/No2_293h.dat
notebooks/files/ozone_crossSection.dat
notebooks/files/so2_16.nm.dat
notebooks/files/solar_merged_20160127_600_26316_100.out
notebooks/ESE156_02_SpectralDOASFits.ipynb.backup2
.DS_Store
